@model BankingProjectMVC.Models.adminLogin
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankingProjectMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankingProjectMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h4 class="text-center">Admin Loginn</h4>
                <hr />
                <form asp-action="Login" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Username</label>
                        <input asp-for="UserName" class="form-control" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        <span class="text-danger">@Html.ValidationMessage("IncorrectUserName")</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" type="password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <span class="text-danger">@Html.ValidationMessage("IncorrectPassword")</span>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <input type="submit" value="Login" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
