@model BankingProjectMVC.Models.Depositt

<h4>Depositt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label" ></label>
                <input asp-for="AccountNo" class="form-control" value="@Model.AccountNo" readonly/>
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"value="@Model.Name" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depositor" class="control-label"></label>
                <input asp-for="Depositor" class="form-control" />
                <span asp-validation-for="Depositor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositorPhoneNo" class="control-label"></label>
                <input asp-for="DepositorPhoneNo" class="form-control" />
                <span asp-validation-for="DepositorPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DipAmount" class="control-label"></label>
                <input asp-for="DipAmount" class="form-control" />
                <span asp-validation-for="DipAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-secondary mt-3 text-center" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
