@model BankingProjectMVC.Models.AccountDetails

<h4>AccountDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchUpdateByNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label"></label>
                <input asp-for="AccountNo" class="form-control" />
                <span asp-validation-for="AccountNo" class="text-danger"></span>
                 <span class="text-danger">@Html.ValidationMessage("EmptyAccountNum")</span>
                 <span class="text-danger">@Html.ValidationMessage("InvalidAccount")</span>
                 

            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Check By Account NUmber" class="btn btn-secondary mt-3 text-center" />
            </div>
        </form>
        <form asp-action="SearchUpdateByName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                 <span class="text-danger">@Html.ValidationMessage("EmptyAccountName")</span>
                 <span class="text-danger">@Html.ValidationMessage("InvalidAccountName")</span>
                 

            </div>
            
            <div class="form-group">
                <input type="submit" value="Check By Account Name" class="btn btn-secondary mt-3 text-center" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
